<div class="container-fluid main-wrapper" id="home-page">
    <div class="row">
        <div class="col-md-12 np" id="home-banner">
            <div id="carousel-banner" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-banner" data-slide-to="1"></li>
                    <li data-target="#carousel-banner" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">

                    </div>
                    <div class="item">

                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-banner" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-banner" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 np section-wrapper" id="home-feature">
            <div class="row  inner-wrapper">
                <div class="col-md-12">
                    <h3 class="section-title">
                        Pelatihan dan Pendampingan
                    </h3>
                    <p class="section-desc">
                        Selama menjadi nasabah ULaMM, nasabah berhak mendapat pelatihan dan <br> pendampingan yang diberikan
                        oleh PNM dengan gratis
                    </p>
                </div>
            </div>
            <div class="row inner-wrapper">
                <div class="owl-carousel owl-theme carousel-list">
                    <div class="item">
                        <div class="list-image"></div>
                        <div class="list-desc">

                        </div>
                    </div>
                    <div class="item">
                        <div class="list-image"></div>
                        <div class="list-desc"></div>
                    </div>
                    <div class="item">
                        <div class="list-image"></div>
                        <div class="list-desc"></div>
                    </div>
                    <div class="item">
                        <div class="list-image"></div>
                        <div class="list-desc"></div>
                    </div>
                    <div class="item">
                        <div class="list-image"></div>
                        <div class="list-desc"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12 np" id="home-story" ng-controller="StoryController">
            <div class="row  inner-wrapper">
                <div class="col-md-12">
                    <h3 class="section-title" >
                        Kisah Sukses Nasabah
                    </h3>
                    <p class="section-desc">
                        Cerita nasabah ULaMM mengembangkan usaha mereka
                    </p>
                    <ul class="story-category">
                        <li class="active"><span>Semua Kategory</span></li>
                        <li ng-repeat="category in categories" story-elem>
                            <span>{{category}}</span>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div style="height: 305px" id="carousel-story">
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
                        <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="noWrapSlides">
                                Disable Slide Looping
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
                        <br />Enter a negative number or 0 to stop the interval.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 np section-wrapper" id="home-testimonial">
            <div class="row  inner-wrapper">
                <div class="col-md-12">
                    <h3 class="section-title">
                        Kisah Sukses Nasabah
                    </h3>
                    <p class="section-desc">
                        Selama menjadi nasabah ULaMM, nasabah berhak mendapat pelatihan dan <br> pendampingan yang diberikan
                        oleh PNM dengan gratis
                    </p>
                </div>
            </div>
            <div class="row inner-wrapper">
                <div class="owl-carousel owl-theme carousel-list testimonial-list">
                    <div class="item">
                        <div class="list-photo"></div>
                        <div class="list-desc">
                            <p class="desc-name">
                                Diana Jasmine
                            </p>
                            <p class="desc-job">
                                Pengusaha Kripik
                            </p>
                            <p class="desc-location">
                                Bogor
                            </p>
                            <p class="desc-detail">
                                Tidak seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak. Ia berakar dari sebuah naskah
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list-photo"></div>
                        <div class="list-desc">
                            <p class="desc-name">
                                Diana Jasmine
                            </p>
                            <p class="desc-job">
                                Pengusaha Kripik
                            </p>
                            <p class="desc-location">
                                Bogor
                            </p>
                            <p class="desc-detail">
                                Tidak seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak. Ia berakar dari sebuah naskah
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list-photo"></div>
                        <div class="list-desc">
                            <p class="desc-name">
                                Diana Jasmine
                            </p>
                            <p class="desc-job">
                                Pengusaha Kripik
                            </p>
                            <p class="desc-location">
                                Bogor
                            </p>
                            <p class="desc-detail">
                                Tidak seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak. Ia berakar dari sebuah naskah
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list-photo"></div>
                        <div class="list-desc">
                            <p class="desc-name">
                                Diana Jasmine
                            </p>
                            <p class="desc-job">
                                Pengusaha Kripik
                            </p>
                            <p class="desc-location">
                                Bogor
                            </p>
                            <p class="desc-detail">
                                Tidak seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak. Ia berakar dari sebuah naskah
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list-photo"></div>
                        <div class="list-desc">
                            <p class="desc-name">
                                Diana Jasmine
                            </p>
                            <p class="desc-job">
                                Pengusaha Kripik
                            </p>
                            <p class="desc-location">
                                Bogor
                            </p>
                            <p class="desc-detail">
                                Tidak seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak. Ia berakar dari sebuah naskah
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list-photo"></div>
                        <div class="list-desc">
                            <p class="desc-name">
                                Diana Jasmine
                            </p>
                            <p class="desc-job">
                                Pengusaha Kripik
                            </p>
                            <p class="desc-location">
                                Bogor
                            </p>
                            <p class="desc-detail">
                                Tidak seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak. Ia berakar dari sebuah naskah
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 section-wrapper np" id="home-video">
            <div class="row  inner-wrapper">
                <div class="col-md-12">
                    <h3 class="section-title">
                        Video Materi
                    </h3>
                    <p class="section-desc">
                        Video Materi Pelatihan untuk nasabah
                    </p>
                </div>
            </div>
            <div class="row  inner-wrapper">
                <div class="col-md-12 np">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 3000
        });

        $('.carousel').carousel('cycle');

        $('.owl-carousel').owlCarousel({
            items: 4,
            loop: true,
            margin: 10,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        });
    });
</script>