$image-path: '../../images';
$color-background: #EFEFEF;
$color-nav: #170154;
$color-title: #443E69;
$color-text: #626264;
$color-desc: #BBBBBB;
$color-border: #7A7A7A;
$color-button-active: #9dce53;
$font1: 'Roboto', sans-serif;
$font2: 'Noto Serif', serif;
$font-weight-bold: 600;
$font-size-large: 2em;
$font-size-mid: 1.7em;
$font-size-standard: 1.4em;
$font-size-small: .8em;

@mixin shadowy{
    -webkit-box-shadow: 2px 4px 7px 0px rgba(138,138,138,0.69);
-moz-box-shadow: 2px 4px 7px 0px rgba(138,138,138,0.69);
box-shadow: 2px 4px 7px 0px rgba(138,138,138,0.69);
}

