@import "_atoms";
body{
  font-family: $font1;
  font-size: $font-size-standard;
}

p, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @extend .np;
}

li{
  list-style-type: none !important;
}

.section-wrapper{
  padding-bottom: 50px !important;
  background:$color-background;
  text-align: center;
  position:relative
}

.inner-wrapper{
  max-width: 860px;
  position: relative;
  margin: 0 auto;
}

.carousel-list{
    .owl-item{
      padding: 10px;
      .item{
        @include shadowy;
        text-align: center;
        height: 300px;
        border-radius: 10px;
        margin: 0 auto;
        background: white;
      }
    }
  }


.np{
  margin: 0;
  padding: 0;
}

.section-title{
  margin-top: 60px;
  margin-bottom: 25px;
  font-family: $font2;
  color: $color-title;
  font-weight: $font-weight-bold;
}

.section-desc{
  margin-bottom: 25px;
  font-family: $font1;
  color: $color-title;
}

.navbar{
  background:$color-nav;
  padding: 10px 0;
  .nav{
    float: right;
    .active{
      a{
        background: $color-nav;
      }
    }
  }
}


#home-banner{
  height: 100vh;
  background: white;

  .carousel{
    height: 100%;
  }
}

#home-feature{
  .list-image{
  border-radius: 10px 10px 0 0;
          background: black;
          height: 60%;
        }
        .list-desc{
          height: 40%;
        }        
}

#home-story{
  background: white;
  text-align: center;
  .story-category{

    li{
      font-family: $font2;
      display: inline-block;
      border: #7A7A7A solid 1px;
      padding: 7px 25px;
      margin: 0 5px;
      border-radius: 23px;
      transition: 0.4s;
      cursor: pointer;
    }

    li.active{
      color: white;
      background: $color-button-active;
      border: $color-button-active solid 1px;
    }
  }
}

#home-testimonial{
  .owl-item{
    padding-top: 50px;
    .list-photo,.list-desc{
       position: relative;
       top: -45px;
    }
    .list-photo{
      width: 130px;
      height: 130px;
      background: black;
      margin: 0 auto;
      border-radius: 100%;
    }
    .list-desc{
      padding: 0 10px;
      margin-top: 10px;
      .desc-name,.desc-job,.desc-location{
        font-family: $font2;
       
      }
      .desc-name{
        font-weight: $font-weight-bold;
        color: #868686;
      }
      .desc-job ,.desc-location{ 
        color: $color-desc;
        font-size: $font-size-small;
      }
      .desc-detail{
        color:$color-desc;
        text-align: left;
        margin-top:10px; 
        padding-top: 10px;
        border-top: 1px solid  $color-desc;
      }
     
    }
  }
}

#home-video{
  background: white;

  .youtube-video{
    width: 100%;
    height:350px;
  }
}
